<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registartion form</title>
</head>
<body>
  <h2>Please, log in!</h2>
  <h4> If you are not registered user, please <a href="/register"> register </a> </h4>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit"> Login </button>
    </form>
  
</body>
</html>